:root { 
--blue_900:#0015d3; 
--blue_gray_100:#d9d9d9; 
--blue_300_7a:#64bff27a; 
--black_900_7a:#0000007a; 
--light_blue_700:#008bd9; 
--blue_300_23:#64bef123; 
--blue_300_68:#64bef168; 
--indigo_900_cc:#07295ccc; 
--black_900:#000000; 
--black_900_71:#00000071; 
--deep_orange_800:#d53d0d; 
--black_900_84:#00000084; 
--blue_300:#64bef1; 
--deep_orange_300:#ff8863; 
--cyan_50:#d6f7ff; 
--blue_300_0c:#64bef10c; 
--white_A700:#ffffff; 
--black_900_68:#00000068; 
}